* {
    font-family: Verdana, sans-serif;
    line-height: 1.5;
    font-size: 22px;
    margin-left: 20px;
}
h1 {
    color: rgb(8, 70, 70);
    font-size: 36px;
}
h3 {
    color: orange;
    font-weight: bold;
    font-size: 30;
}
.Description {
    font-style: italic;
    font-weight: bold;
    
}
.Ingredients{
    width: 500px;
    border: 5px solid purple;
}