* {
    font-family: Verdana, sans-serif;
    line-height: 1.5;
    font-size: 22px;
    margin-left: 20px;
}
.Header {
    display: block;
    text-transform: uppercase;
    color: azure;
    background-color: rgb(78, 175, 167);
    border: 2px solid rgba(255, 123, 0, 0.808);
    margin-left: 130px;
    font-size: 34px;
    box-shadow: 1px 1px 2px rgba(90, 134, 20, 0.4);
    border-radius: 5px;
    padding: 3px 10px;
    cursor: pointer;
}
h3 {
    color: orange;
    font-weight: bold;
    font-size: 30;
}
.Description {
    font-style: italic;
    font-weight: bold;
    
}
.Ingredients{
    width: 500px;
    border: 5px solid purple;
}